html {
  background: var(--primary-background-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-background-color: #fff;
  --primary-border-color: rgba(25,20,20,.3);
  --primary-button-color: #ffc864;
  --primary-link-color: #9e9e9e;
  --primary-text-color: rgb(44, 43, 43);
  --secondary-background-color: #8d8d8d;
  --secondary-text-color: rgb(97, 94, 94);
  --tertiary-text-color: rgb(97, 94, 94);
  --tertiary-background-color: #bdbdbd;
}

:root[data-theme-mode=dark] {
  --primary-background-color: rgb(36,35,34);
  --primary-border-color: rgb(80, 80, 80);
  --primary-button-color: #ffc864;
  --primary-link-color: #9e9e9e;
  --primary-text-color: #fff;
  --secondary-background-color: rgba(50,48,48);
  --secondary-button-color: #61605d;
  --secondary-link-color: #c3f0c8;
  --secondary-text-color: rgba(50,48,48);
  --tertiary-text-color: rgba(25,20,20,0.3);
  --tertiary-background-color: #c3f0c8;
}
