.Landing {
  text-align: center;
}

.Landing-sub-heading {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.Landing-poll-link {
  text-decoration: none;
  margin: 1rem;
}

.Landing-polls-list a {
  color: var(--primary-link-color);
  font-size: 1.2rem;
  text-decoration: none;
}

.Landing-poll-link a:hover {
  color: var(--secondary-link-color);
  font-weight: 500;
}
