.Poll {
  text-align: center;
}

.Poll-header.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.Poll-header.header h1 {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.Poll-header-back-link {
  color: var(--primary-text-color);
  position: absolute;
  left: 2rem;
  text-decoration: none;
}

.Poll-header-back-link:visited {
  color: var(--primary-text-color);
}

.Poll-header-back-link:before {
  content: '\003c';
  font-size: 1.5rem;
}

.Poll-content {
  margin: 1rem;
}

.Poll-sub-heading {
  /* background: var(--secondary-background-color); */
  color: var(--primary-text-color);
  padding: 1rem;
  width: 100%;
}

.Poll-sub-heading h2 {
  font-size: 2rem;
  font-weight: 500;
}

.Poll-content h1 {
  color: var(--primary-text-color);
}

.Poll-greeting-header {
  margin-bottom: 1rem;
  font-weight: 300;
}
