.PollVote {
  margin-bottom: 1rem;
}

.PollVote button {
  background: transparent;
  border: 2px solid var(--primary-button-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 1.2rem;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  outline: none;
  border-radius: 2rem;
}

.PollVote button:hover {
  background: var(--primary-button-color);
  color: var(--secondary-text-color);
}

.PollVote button:hover {
  cursor: pointer;
}
